body,
header,
nav,
footer {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #000;
}

header {
    float: left;
    width: 25%;
}

nav {
    float: right;
    margin: 8em 3em 0 0;
    width: 70%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.75em;
    font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    max-height: 100%;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 2em;
}

div .figures {
    display: flex;
    justify-content: space-around;
    position: relative;
}

div .figure {
    width: 30%;
}

.figure figcaption {
    position: absolute;
    top: 73%;
    width: 22%;
    text-align: center;
    height: 17%;
    background: rgba(0, 0, 0, .5);
    color: rgb(255, 255, 255);
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0.1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

#weights,
#training,
#cardio {
    width: 29%;
    float: left;
    margin: 0 2%;
}

#exercises {
    clear: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2f2;
    padding: 1% 2%;
}

#exercises dt {
    font-weight: bold;
}

#exercises dd {
    padding: 0.5% 1% 2% 0;
}

.articles {
    display: flex;
    justify-content: center;
}

.article {
    width: 30%;
    margin: 1%;

}

#article2 {
    background-color: rgb(214, 211, 211);
}

.article h3 {
    text-align: center;
}

.article img {
    text-align: center;
    max-width: 70%;
    margin-left: 10%;
}


.article p {
    width: 95%;
    text-align: justify;
    font-size: 80%;
    padding: 2%;
}

.aside{
    width: 100%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
}

.aside aside {
    width: 45%;
    margin-left: 5%;
}

.aside img {
    float: left;
    margin-right: 5%;
    max-width: 100%;
    width: 25%;
}
.aside p {
    width: 90%;
    font-size: 75%;
}


#contact {
    text-align: center;
}

#contact a {
    color: #666600;
    text-decoration: none;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
}

.map {
    border: 8px solid #000;
}



@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        width: 100%;
    }

    header img {
        margin: auto;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        float: none;
    }

    nav li {
        font-size: 1.25em;
    }

    main {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 480px) {
    header {
        width: 100%;
    }

    header img {
        max-width: 100%;
        display: block;
        max-height: 100%;
        margin: auto;
    }

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
        padding-inline-start: 0;
    }

    nav li {
        display: inline-block;
        font-size: 1.3em;
        font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: bold;
        border-bottom: 1px solid white;
        width: 100%;
    }



    nav li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 0.5em 1em;
        text-decoration: none;
        background-color: black;
    }

    div #hero {
        display: none;
    }

    main{
        font-size: 1.2em;
    }

    .figures {
        display: flex;
        flex-direction: column;

    }
    div .figure {
        width: 100%;
    }

    .figure figcaption {
        position: relative;
        width:87%;
    }


    
    .articles {
        display: flex;
        flex-direction: column;
    }

    .article {
        position: relative;
        width: 100%;
    }

    .aside aside {
        width: 45%;
        margin-left: 2%;
    }
    .article img{
        margin-left: 15%;
    }

    .aside img {
        margin-right: 5%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 5%;
    }

}